.white-popup {
  background: #fff;
  padding: 25px;
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.plusicon {
  font-size: 32px;
}

.food-menu-content {
  max-width: 60%;
}

.woocommerce .quantity .qty {
  color: black !important;
}
